body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2fa;
    font-family: Arial, sans-serif;
    text-align: center;
    flex-direction: column;   /* вертикальное расположение блоков */
}

.container {
    width: 25%;
    min-width: 320px;
    padding: 30px;
    border-radius: 12px;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(45deg, #000033, #ff0000) border-box;
    border: 4px solid transparent;
}

h1 {
    color: #001a6e;
    font-size: 36px;
    margin-bottom: 20px;
}
h2 {
    color: #001a6e;
    font-size: 20px;
}

#status {
    width: 280px;
    font-size: 18px;
    border: 2px solid #000033;
    border-radius: 10px;
    padding: 10px;
    background-color: #eceef5;
    margin: 0 auto 10px auto;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 40%;
    box-sizing: border-box;
    padding: 15px 15px;
    font-size: 20px;
    margin: 5px 0;
    color: #000033;
    background-color: #FF9966;
    border: 3px solid;
    border-radius: 25px;
}

button:hover {
    background-color: #CCCCCC;
}

.history {
    width: 35%;
    max-height: 250px;
    overflow-y: auto;
    margin-top: 20px;
    padding: 10px;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(45deg, #000033, #ff0000) border-box;
    border: 4px solid transparent;
    border-radius: 12px;
}

.history ul {
    list-style: none;
    padding: 0;
}

.history li {
    margin-bottom: 5px;
    padding: 2px;
    border: 2px solid #000033;
    border-radius: 8px;
    background-color: #eceef5;
}

.history button {
    width: 20%;
    margin-top: 3px;
    padding: 3px 6px;
    font-size: 14px;
    border-radius: 8px;
    background:
        linear-gradient(#6699CC, #6699CC) padding-box,
        linear-gradient(45deg, #000033, #ff0000) border-box;
    border: 2px solid transparent;
}

@media (max-width: 480px) {
    .container, .history {
        width: 87%;
        padding: 12px;
    }

    #status {
        width: 100%;
        font-size: 16px;
        box-sizing: border-box;
    }

    button {
        width: 45%;
        font-size: 16px;
        padding: 10px 12px;
    }

    .history button {
        width: 30%;
        font-size: 13px;
        padding: 5px 8px;
    }
}
